# Базовый шаблон для settings.yml SearXNG
# Мы будем использовать его для установки сгенерированного secret_key.
# Остальные настройки могут быть оставлены по умолчанию из settings-base.yml
# или также сделаны управляемыми через переменные Ansible, если потребуется.

general:
  # secret_key будет вставлен задачей Ansible из playbook.yml
  # в /opt/ai_stack/searxng/settings.yml, а не напрямую в этот шаблон,
  # чтобы избежать случайной перезаписи при каждом запуске шаблонизатора.
  # Однако, для полноты, можно было бы и сюда добавить переменную,
  # но тогда нужно быть аккуратным с idempotency.
  # Для простоты, оставим как есть: Ansible сгенерирует ключ и вставит его
  # в файл, созданный из этого шаблона (который будет содержать плейсхолдер).
  secret_key : "ultrasecretkeyplaceholder!!!" # Этот плейсхолдер будет заменен Ansible

# Пример других настроек, которые можно было бы сделать управляемыми:
# server:
#   port : 8080
#   bind_address : "0.0.0.0"

# ui:
#   static_use_cdn : false
#   theme_args:
#     name: simple
#     style: light
#     script: auto
#     color: auto

# search:
#   # ...